.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-button {
    display: flex;
    font-size: 20px;
    padding: 14px;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
    border-width: 3px;
    border-color: black;
    margin: 20px 0px 20px 0px;
    outline: none;
}
.footer-button:hover {
    padding: 16px;
}
.footer-button strong {
   font-family: Margarine;
   letter-spacing: 1px;
}