.content {
    /*color: #ebebeb;*/
    padding: 0px 20px;
    color: rgb(255, 251, 240);
    letter-spacing: 0.5px;
}
.content-title {
    /*text-shadow: 2px 2px rgba(0, 0, 0, 0.5);*/
    font-weight: bold;
    font-size: 46px;
    text-align: center;
    letter-spacing: 1px;
}
.screenshot {
    width: 100%;
    border-radius: 10px;
    border: 3px solid white;
    margin-bottom: 10px;
}
.description {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
    color: #262626;
}
.content ul {
    padding: 0;
    flex-direction: column;
}
.content ul li {
    margin-top: 20px;
}
.screenshot-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.screenshot-description {
    margin-top: 10px;
    
}


@media only screen and (min-width: 700px) {
    .screenshot {
        max-width: 300px;
    }
    .content-title {
        text-align: center;
    }
    .list-item-content-wrapper {
        display: flex;
    }
    .screenshot-description {
        width: 400px;
        margin-left: 30px;
        margin-top: 0px;
    }
}